[preview]
wrap = "no"
tab_size = 2
max_width = 600
max_height = 900
cache_dir = ""
image_delay = 30
image_filter = "triangle"
image_quality = 75
ueberzug_scale = 1
ueberzug_offset = [0, 0, 0, 0]

[opener]
edit = [
	{ run = 'nvim "$@"', desc = "Neovim", block = true, for = "unix" },
	{ run = 'code %*', orphan = true, desc = "code", for = "windows" },
	{ run = 'code -w %*', block = true, desc = "code (block)", for = "windows" },
]
open = [
	{ run = 'xdg-open "$1"', desc = "Open", for = "linux" },
	{ run = 'open "$@"', desc = "Open", for = "macos" },
	{ run = 'start "" "%1"', orphan = true, desc = "Open", for = "windows" },
	{ run = 'termux-open "$1"', desc = "Open", for = "android" },
]

[[plugin.prepend_fetchers]]
id = "git"
url = "*"
run = "git"

[[plugin.prepend_fetchers]]
id = "git"
url = "*/"
run = "git"
