{
    "$schema": "https://opencode.ai/config.json",
    "plugin": [
        "@mohak34/opencode-notifier@latest"
    ],
    "theme": "arrowlake",
    "tui": {
        "scroll_acceleration": {
            "enabled": true
        },
        "diff_style": "auto"
    },
    "provider": {
        "llama.cpp": {
            "npm": "@ai-sdk/openai-compatible",
            "name": "llama-server (local)",
            "options": {
            {{- if eq .machine.type "personal" }}
                "baseURL": "http://127.0.0.1:8080/v1"
            {{- else if eq .machine.type "work" }}
                "baseURL": "http://100.91.30.63:8080/v1"
            {{- end }}
            },
            "models": {
                "qwen3-coder:a3b": {
                    "name": "Qwen3.5: 35B-A3B-UD-Q8_K_XL",
                    "limit": {
                        "context": 1048576,
                        "output": 262144
                    }
                }
            }
        },
    }
}
