{{- $machineType := promptStringOnce . "machine.type" "Machine type" -}}
{{- $email := promptStringOnce . "email" "email" -}}

[data]
    email = {{ $email | quote }}

[data.machine]
    type = {{ $machineType | quote }}

[merge]
    command = "nvim"
    args = [
        {{ printf "%q" "+DiffviewMergeFiles {{ .Destination }} {{ .Source }} {{ .Target }}" }},
    ]

[diff]
    command = "nvim"
    args = [
        {{ printf "%q" "+DiffviewDiffFiles {{ .Destination }} {{ .Target }}" }},
    ]
    exclude = ["scripts"]

[status]
    exclude = ["scripts"]
