{{- if eq .machine.type "work" }}
export SSH_AUTH_SOCK="$XDG_RUNTIME_DIR/gcr/ssh"
{{- end}}

export PATH="$HOME/.cargo/bin:$PATH"

{{- if eq .machine.type "work" }}
export NVM_DIR="$HOME/.nvm"
[ -s "$NVM_DIR/nvm.sh" ] && \. "$NVM_DIR/nvm.sh"
[ -s "$NVM_DIR/bash_completion" ] && \. "$NVM_DIR/bash_completion"
export GOPATH=$HOME/c/go
export PATH=$HOME/bin:$PATH
export PATH=$HOME/.opencode/bin:$PATH
export PATH=$PATH:$GOPATH/bin
{{- else }}
{{- end}}
