[user]
	name = Jadon Brutcher
{{- if eq .machine.type "work" }}
	email = jadon.brutcher@deltamobile.com

[safe]
	directory = *
{{- else}}
	email = jadonwbrutcher@icloud.com
{{- end}}

[protocol "file"]
	allow = always
{{- if eq .machine.type "personal" }}
[url "git@github.com:"]
	insteadOf = https://github.com/
{{- end}}
[rebase]
	autoStash = true
[merge]
    tool = diffview
[mergetool "diffview"]
	trustExitCode = false
	cmd = nvim \"+DiffviewMergeFiles $MERGED $BASE $LOCAL $REMOTE\"
    prompt = false
    keepBackup = false
[push]
	useForceIfIncludes = true
