{{- if eq .machine.type "work" }}
Host web1 web1.deltamobile.com
        Port 23023
{{- end}}
{{- if ne .machine.type "work" }}
Host ws205
    HostName ws205
    User jadon.brutcher
{{- end}}
{{- if ne .machine.type "personal" }}
Host fwdt
    HostName fwdt
    User jadon
{{- end}}
{{- if ne .machine.type "laptop" }}
Host omapad
    HostName omapad
    User jadon
{{- end}}

AddKeysToAgent yes
