{{- if eq .machine.type "work" }}
Host web1 web1.deltamobile.com
        Port 23023
{{- end}}
{{- if ne .machine.type "work" }}
Host ws205
    HostName 100.88.98.27
    User jadon.brutcher
{{- end}}
{{- if ne .machine.type "personal" }}
Host fwdt
    HostName 100.91.30.63
    User jadon
{{- end}}
{{- if ne .machine.type "laptop" }}
Host omapad
    HostName 100.64.25.33
    User jadon
{{- end}}

AddKeysToAgent yes
