{{- if eq .machine.type "work" }}
Host web1 web1.deltamobile.com
        Port 23023
{{- end}}

{{ range $host, $config := .hosts -}}
{{- if ne $host $.chezmoi.hostname }}
Host {{ $host }}
    User {{ $config.user }}

{{- end }}
{{- end }}

AddKeysToAgent yes
