@import "../../.config/omarchy/current/theme/waybar.css";

* {
    font-family: 'JetBrainsMono Nerd Font';
    font-size: 12px;
    font-weight: 700;
    transition: all 0.1s ease;
}

window#waybar { background: transparent; }

#custom-omarchy, #workspaces, #clock, #network, #cpu, #bluetooth, #pulseaudio, 
#custom-system, #custom-screenrecording-indicator, #custom-update, 
#custom-google-tasks, #custom-google-keep {
    background: alpha(@background, 0.6); 
    border-radius: 14px;
    padding: 0px 22px;
    margin: 4px 3px;
}

#custom-system, #custom-omarchy { color: @magenta; border: 2px solid @magenta; }

#workspaces { border: 2px solid @blue; padding: 0px 2px; }
#workspaces button { padding: 0px 12px; color: @cyan; margin: 3px 1px; }
#workspaces button.active { background: @magenta; color: @background; border-radius: 10px; }
#workspaces button.empty { opacity: 0.3; }

#clock { color: @magenta; border: 2px solid @blue; }
#cpu { color: @yellow; border: 2px solid @yellow; }
#bluetooth { color: @green; border: 2px solid @green; }
#network { color: @cyan; border: 2px solid @cyan; }
#pulseaudio { color: @blue; border: 2px solid @blue; }

#custom-screenrecording-indicator.active {
  color: @red;
}
