$hypr_scripts = /home/jadon/.config/hypr/scripts

unbind = SUPER ALT, SPACE
unbind = SUPER, K
unbind = SUPER, J

unbind = SUPER, F
bindd = SUPER SHIFT, F, Full screen, fullscreen, 0
workspace = name:special:yazi,on-created-empty:omarchy-launch-or-focus-tui yazi
bindd = SUPER, F, toggle special workspace yazi, togglespecialworkspace, yazi

bind = SUPER SHIFT, Q, exec, systemctl suspend

bindd = SUPER, I, Toggle window split, togglesplit, # dwindle

bindd = SUPER, H, Move window focus left, movefocus, l
bindd = SUPER, L, Move window focus right, movefocus, r
bindd = SUPER, K, Move window focus up, movefocus, u
bindd = SUPER, J, Move window focus down, movefocus, d

bindd = SUPER, RETURN, Terminal, exec, uwsm-app -- xdg-terminal-exec --dir="$(omarchy-cmd-terminal-cwd)"
bindd = SUPER SHIFT, RETURN, Browser, exec, omarchy-launch-browser
bindd = SUPER ALT, RETURN, Browser (private), exec, omarchy-launch-browser --private
bindd = SUPER, N, Editor, exec, omarchy-launch-editor
bindd = SUPER SHIFT, T, Activity, exec, omarchy-launch-tui btop
{{- if eq .machine.type "personal" }}
bindd = SUPER SHIFT, U, Update Status, exec, omarchy-launch-floating-terminal-with-presentation sudo pacfetch -Sy
{{- end}}
bindd = SUPER, D, Docker, exec, omarchy-launch-tui lazydocker
bindd = SUPER SHIFT, G, Gamemode, exec, $hypr_scripts/gamemode.sh

# If your web app url contains #, type it as ## to prevent hyperland treat it as comments
workspace = name:special:icloud,on-created-empty:omarchy-launch-webapp "https://www.icloud.com/"
bindd = SUPER, A, toggle special workspace icloud, togglespecialworkspace, icloud
workspace = name:special:music,on-created-empty:omarchy-launch-webapp "https://music.apple.com"
bindd = SUPER, M, toggle special workspace music, togglespecialworkspace, music

bindd = SUPER, Y, YouTube, exec, omarchy-launch-webapp "https://youtube.com/"

binddr = SUPER, SUPER_L, Omarchy menu, exec, pkill walker || omarchy-menu

{{- if eq .machine.type "work" }}
unbind = SUPER, SPACE
bindr = SUPER, SPACE, exec, pkill rofi || rofi -show drun -modi drun,filebrowser,run,window # Super Key to Launch rofi menu
{{- end}}

# utilities
bindd = SUPER, Z, Ctrl Z, sendshortcut, CTRL, Z,
bindd = SUPER SHIFT, K, Show key bindings, exec, omarchy-menu-keybindings

# toggle cursor
bind = SUPER, PERIOD, exec, $hypr_scripts/toggle-cursor.sh

# window picker
# unbind = SUPER, S
# bind = SUPER, S, exec, pkill walker || omarchy-menu Workspace

bind = SUPER SHIFT, W, exec, notify-send 'click window to kill' && hyprctl kill
