$hypr_scripts = /home/jadon/.config/hypr/scripts

unbind = SUPER, F
unbind = SUPER CTRL, T
unbind = SUPER, SPACE
unbind = SUPER ALT, SPACE
unbind = SUPER, T
unbind = SUPER, O
unbind = SUPER, S
unbind = SUPER ALT, S
unbind = SUPER, SLASH

bindd = SUPER, SPACE, Omarchy menu, exec, omarchy-menu
bindd = SUPER ALT, SPACE, Launch apps, exec, omarchy-launch-walker

bindd = SUPER SHIFT, O, Pop window out (float & pin), exec, omarchy-hyprland-window-pop
bindd = SUPER, O, Toggle window floating/tiling, togglefloating,
bindd = SUPER SHIFT, F, Full screen, fullscreen, 0

bindd = SUPER SHIFT, P, Promote (scrolling), layoutmsg, promote
bindd = SUPER CTRL, LEFT, Swap column left (scrolling), layoutmsg, swapcol l
bindd = SUPER CTRL, RIGHT, Swap column right (scrolling), layoutmsg, swapcol r

bindd = SUPER, SLASH, Passwords, exec, uwsm-app -- 1password
bindd = SUPER, RETURN, Terminal, exec, uwsm-app -- xdg-terminal-exec --dir="$(omarchy-cmd-terminal-cwd)"
bindd = SUPER ALT, RETURN, Terminal with tmux, exec, if tmux has-session 2>/dev/null; then uwsm-app -- xdg-terminal-exec --dir="$(omarchy-cmd-terminal-cwd)" tmux attach; else uwsm-app -- xdg-terminal-exec --dir="$(omarchy-cmd-terminal-cwd)"; fi
bindd = SUPER SHIFT, RETURN, Terminal (scratch), exec, tmux has-session -t scratch 2>/dev/null || tmux new-session -d -s scratch && tmux switch-client -t scratch
bindd = SUPER, B, Browser, exec, omarchy-launch-browser
bindd = SUPER ALT, B, Browser (private), exec, omarchy-launch-browser --private

bindd = SUPER, U, toggle special workspace keyboard, togglespecialworkspace, keyboard
bindd = SUPER, Y, toggle special workspace youtube, togglespecialworkspace, youtube
bindd = SUPER, T, toggle special workspace activity, togglespecialworkspace, activity
bindd = SUPER, M, toggle special workspace media, togglespecialworkspace, media
bindd = SUPER, F, toggle special workspace yazi, togglespecialworkspace, yazi
bindd = SUPER, S, toggle special workspace scratch, togglespecialworkspace, scratch
bindd = SUPER ALT, S, Move window to scratch, movetoworkspacesilent, special:scratch

{{- if eq .machine.type "personal" }}
# bindd = SUPER SHIFT, U, Update Status, exec, omarchy-launch-floating-terminal-with-presentation sudo pacfetch -Sy
{{- end}}

bindd = SUPER SHIFT, G, Gamemode, exec, $hypr_scripts/gamemode.sh
bindd = SUPER, Z, Ctrl Z, sendshortcut, CTRL, Z,

bindd = SUPER SHIFT, W, Kill, exec, notify-send 'click window to kill' && hyprctl kill
