{{- if eq .machine.type "work" }}
windowrule = opacity 0.95 0.9 override, match:tag chromium-based-browser
{{- else}}
windowrule {
    name = windowrule-1
    opacity = 0.87 0.83
    match:tag = chromium-based-browser
}
{{- end}}

windowrule {
    name = windowrule-2
    opacity = 0.85 0.7 override
    float = on
    center = on
    size = (monitor_w*0.8) (monitor_h*0.8)
    match:class = org.omarchy.yazi
}

windowrule {
    name = windowrule-3
    float = on
    center = on
    size = (monitor_w*0.4) (monitor_h*0.4)
    match:class = text.box
}


windowrule {
    name = windowrule-4
    float = on
    pin = on
    size = (monitor_w*0.35) (monitor_h*0.3)
    move = (monitor_w*0.64) (monitor_h*0.62)
    match:class = org.jadon.popterm
}
