{{- if eq .machine.type "work" }}
set-option -g default-shell /usr/bin/zsh
{{- end}}

is_vim="ps -o state= -o comm= -t '#{pane_tty}' | grep -iqE '^[^TXZ ]+ +(\\S+\\/)?g?(view|n?vim?x?)(diff)?$'"

set -g default-terminal "tmux-256color"
set -as terminal-overrides ",*:Tc"
set-option -ga terminal-overrides ',xterm-kitty:cnorm=\E[?12h\E[?25h'

unbind C-b
set-option -g prefix 'C-s'
bind-key 'C-s' send-prefix

# 0 is too far from `
set -g base-index 1

# Tab bar
set-option -g status-position top

set -g status-keys vi
set -g history-limit 10000
set -g mode-keys vi
set -g monitor-activity off
set -g visual-activity off
set-option -g bell-action none
set -g detach-on-destroy off

bind-key -n 'M-v' copy-mode
unbind '['
unbind -T copy-mode-vi MouseDragEnd1Pane
bind-key -T copy-mode-vi 'v' send -X begin-selection
bind-key -T copy-mode-vi 'y' send -X copy-pipe-and-cancel
bind-key -T copy-mode-vi C-Insert send -X copy-pipe-and-cancel # FIXME:
bind-key -T copy-mode-vi Escape send -X cancel

# Enable mouse control (clickable windows, panes, resizable panes)
set -g mouse on

# Enable copy-pasting
set -g set-clipboard on

# Render undercurls and double underlines
set -as terminal-overrides ',*:Smulx=\E[4::%p1%dm'
set -as terminal-overrides ',*:Setulc=\E[58::2::%p1%{65536}%/%d::%p1%{256}%/%{255}%&%d::%p1%{255}%&%d%;m'

# Tabs (windows) and panes
bind -n M-1 select-window -t 1
bind -n M-2 select-window -t 2
bind -n M-3 select-window -t 3
bind -n M-4 select-window -t 4
bind -n M-5 select-window -t 5
bind -n M-6 select-window -t 6
bind -n M-7 select-window -t 7
bind -n M-8 select-window -t 8
bind -n M-9 select-window -t 9
bind -n M-x kill-pane
bind -n M-X kill-window
bind -n M-t new-window
bind -n M-T new-session
bind -n M-r command-prompt -p "Rename window:" "rename-window '%%'"
bind -n M-R command-prompt -p "Rename session:" "rename-session '%%'"

# Splits bindings
bind -n 'M-|' split-window -h -c "#{pane_current_path}"
bind -n 'M-\' split-window -v -c "#{pane_current_path}"
unbind '"'
unbind %

# Resize key-bindings
bind-key -n 'C-left' if-shell "$is_vim" 'send-keys C-left'  'resize-pane -L 1'
bind-key -n 'C-down' if-shell "$is_vim" 'send-keys C-down'  'resize-pane -D 1'
bind-key -n 'C-up' if-shell "$is_vim" 'send-keys C-up'  'resize-pane -U 1'
bind-key -n 'C-right' if-shell "$is_vim" 'send-keys C-right'  'resize-pane -R 1'

bind-key -T copy-mode-vi 'C-left' resize-pane -L 1
bind-key -T copy-mode-vi 'C-down' resize-pane -D 1
bind-key -T copy-mode-vi 'C-up' resize-pane -U 1
bind-key -T copy-mode-vi 'C-right' resize-pane -R 1

# Zoom in/out panes
bind -n 'M-z' resize-pane -Z

# Navigation key-bindings
bind-key -n 'C-h' if-shell "$is_vim" 'send-keys C-h' { if -F '#{pane_at_left}' '' 'select-pane -L' }
bind-key -n 'C-j' if-shell "$is_vim" 'send-keys C-j' { if -F '#{pane_at_bottom}' '' 'select-pane -D' }
bind-key -n 'C-k' if-shell "$is_vim" 'send-keys C-k' { if -F '#{pane_at_top}' '' 'select-pane -U' }
bind-key -n 'C-l' if-shell "$is_vim" 'send-keys C-l' { if -F '#{pane_at_right}' '' 'select-pane -R' }

bind-key -T copy-mode-vi 'C-h' if -F '#{pane_at_left}' '' 'select-pane -L'
bind-key -T copy-mode-vi 'C-j' if -F '#{pane_at_bottom}' '' 'select-pane -D'
bind-key -T copy-mode-vi 'C-k' if -F '#{pane_at_top}' '' 'select-pane -U'
bind-key -T copy-mode-vi 'C-l' if -F '#{pane_at_right}' '' 'select-pane -R'

# Switch windows
bind-key -n 'M-p' previous-window
bind-key -n 'M-n' next-window
bind-key -n 'M-P' swap-window -t -1\; select-window -t -1
bind-key -n 'M-N' swap-window -t +1\; select-window -t +1

bind-key -n 'M-b' last-window
bind-key -n 'M-B' run-shell "sesh last"

# No delay for escape key press
set -sg escape-time 0

# Reload tmux config
bind-key r source-file ~/.tmux.conf \; \
	display-message "Reloaded the config"

# For integration with vim
set -g focus-events on
set -g allow-passthrough all
set -g extended-keys on

set -g status-interval 1

set -g popup-style 'bg=default,fg=default'
set -g popup-border-style "fg=colour4"
set -g popup-border-lines 'rounded'

#####################################################################################################################
#####################################################################################################################
# ArrowLake colors for Tmux
#####################################################################################################################

set -g mode-style "fg=#3F3BF5,bg=default"

set -g message-style "fg=#3F3BF5,bg=default"
set -g message-command-style "fg=#3F3BF5,bg=default"

set -g pane-border-style "fg=#312e55"
set -g pane-active-border-style "fg=#ff007c"

set -g status "on"
set -g status-justify "left"

set -g status-style "fg=#3F3BF5,bg=#0a091c"

set -g status-left-length "100"
set -g status-right-length "100"

set -g status-left-style NONE
set -g status-right-style NONE

set -g status-left "#[fg=#0a0a1e,bg=#3F3BF5,bold] #S #[fg=#3F3BF5,bg=#0a091c,nobold,nounderscore,noitalics]"
set -g status-right "#[fg=#0a091c,bg=#0a091c,nobold,nounderscore,noitalics]#[fg=#3F3BF5,bg=#0a091c] #{prefix_highlight} #[fg=#312e55,bg=#0a091c,nobold,nounderscore,noitalics]#[fg=#3F3BF5,bg=#312e55] %Y-%m-%d  %I:%M %p #[fg=#3F3BF5,bg=#312e55,nobold,nounderscore,noitalics]#[fg=#0a0a1e,bg=#3F3BF5,bold] #h "
if-shell '[ "$(tmux show-option -gqv "clock-mode-style")" == "24" ]' {
  set -g status-right "#[fg=#0a091c,bg=#0a091c,nobold,nounderscore,noitalics]#[fg=#3F3BF5,bg=#0a091c] #{prefix_highlight} #[fg=#312e55,bg=#0a091c,nobold,nounderscore,noitalics]#[fg=#3F3BF5,bg=#312e55] %Y-%m-%d  %H:%M #[fg=#3F3BF5,bg=#312e55,nobold,nounderscore,noitalics]#[fg=#0a0a1e,bg=#3F3BF5,bold] #h "
}

setw -g window-status-activity-style "underscore,fg=#a9b1d6,bg=#0a091c"
setw -g window-status-separator ""
setw -g window-status-style "NONE,fg=#a9b1d6,bg=#0a091c"
setw -g window-status-format "#[fg=#0a091c,bg=#0a091c,nobold,nounderscore,noitalics]#[default] #I  #W #F #[fg=#0a091c,bg=#0a091c,nobold,nounderscore,noitalics]"
setw -g window-status-current-format "#[fg=#0a091c,bg=#312e55,nobold,nounderscore,noitalics]#[fg=#3F3BF5,bg=#312e55,bold] #I  #W #F #[fg=#312e55,bg=#0a091c,nobold,nounderscore,noitalics]"

# tmux-plugins/tmux-prefix-highlight support
set -g @prefix_highlight_output_prefix "#[fg=#FFC066]#[bg=#0a091c]#[fg=#0a091c]#[bg=#FFC066]"
set -g @prefix_highlight_output_suffix ""

#####################################################################################################################
#####################################################################################################################
#####################################################################################################################

# Plugin manager
{{- if eq .machine.type "work" }}
set-environment -g TMUX_PLUGIN_MANAGER_PATH '/home/jadon.brutcher/.config/tmux/plugins/'
{{- else}}
set-environment -g TMUX_PLUGIN_MANAGER_PATH '/home/jadon/.config/tmux/plugins/'
{{- end}}

# List of plugins
set -g @plugin 'tmux-plugins/tpm'
set -g @plugin 'tmux-plugins/tmux-sensible'
set -g @plugin 'tmux-plugins/tmux-yank'
set -g @plugin 'jaclu/tmux-menus'
set -g @plugin 'soyuka/tmux-current-pane-hostname'
set -g @plugin 'noscript/tmux-mighty-scroll'
set -g @plugin 'nhdaly/tmux-better-mouse-mode'
# set -g @plugin 'lljbash/tmux-update-display'
set -g @plugin 'trevin-j/tmux-resurrect-nvim'
set -g @plugin 'tmux-plugins/tmux-continuum'

# Unbind keys
unbind-key m
unbind-key M
unbind-key M-m
unbind-key n
unbind-key p

# Bindings for menu plugin
set -g @menus_trigger 'm'

# Sesh
bind-key -n 'M-s' run-shell "sesh connect \"$(
  sesh list -t -c -d --icons | fzf-tmux -p 35%,55% \
    --no-sort --ansi --border-label ' Sessions ' --prompt '⚡  ' \
    --header 'CTRL+a all | CTRL+t tmux | CTRL+f find | CTRL+d kill ' \
    --border rounded \
    --color=border:#4541e1 \
    --bind 'alt-s:abort' \
    --bind 'tab:down,btab:up' \
    --bind 'ctrl-a:change-prompt(⚡  )+reload(sesh list -d --icons)' \
    --bind 'ctrl-t:change-prompt(⚡  )+reload(sesh list -t --icons)' \
    --bind 'ctrl-f:change-prompt(🔎  )+reload(fd -H -d 2 -t d -E .Trash . ~)' \
    --bind 'ctrl-d:execute(tmux kill-session -t {2..})+change-prompt(⚡  )+reload(sesh list --icons)' \
)\""

# Sessions
set -g @resurrect-save 'S'
set -g @resurrect-restore 'R'
set -g @resurrect-capture-pane-contents 'on'
set -g @continuum-restore 'on'
# set -g @continuum-boot 'on'
set -g @continuum-save-interval '5'

# Initialize TMUX plugin manager (keep this line at the very bottom of tmux.conf)
run -b "${TMUX_PLUGIN_MANAGER_PATH}tpm/tpm"
