{{- if eq .machine.type "work" }}
set-option -g default-shell /usr/bin/zsh
{{- end}}

# Prefix
unbind C-b
set-option -g prefix 'C-s'
bind-key 'C-s' send-prefix

# Reload tmux config
bind r source-file ~/.tmux.conf \; \
	display-message "Reloaded the config"

# Vi for copy mode
setw -g mode-keys vi
bind-key -n 'M-v' copy-mode
bind -T copy-mode-vi v send -X begin-selection
bind -T copy-mode-vi y send -X copy-selection-and-cancel

# Tabs (windows) and panes
bind -n M-1 select-window -t 1
bind -n M-2 select-window -t 2
bind -n M-3 select-window -t 3
bind -n M-4 select-window -t 4
bind -n M-5 select-window -t 5
bind -n M-6 select-window -t 6
bind -n M-7 select-window -t 7
bind -n M-8 select-window -t 8
bind -n M-9 select-window -t 9
bind -n M-x kill-pane
bind -n M-X kill-window
bind -n M-t new-window
bind -n M-T new-session
bind -n M-r command-prompt -p "Rename window:" "rename-window '%%'"
bind -n M-R command-prompt -p "Rename session:" "rename-session '%%'"

# Splits bindings
bind -n 'M-|' split-window -h -c "#{pane_current_path}"
bind -n 'M-\' split-window -v -c "#{pane_current_path}"
unbind '"'
unbind %

# Helper
is_vim="ps -o state= -o comm= -t '#{pane_tty}' | grep -iqE '^[^TXZ ]+ +(\\S+\\/)?g?(view|n?vim?x?)(diff)?$'"

# Resize key-bindings
bind-key -n 'C-left' if-shell "$is_vim" 'send-keys C-left'  'resize-pane -L 1'
bind-key -n 'C-down' if-shell "$is_vim" 'send-keys C-down'  'resize-pane -D 1'
bind-key -n 'C-up' if-shell "$is_vim" 'send-keys C-up'  'resize-pane -U 1'
bind-key -n 'C-right' if-shell "$is_vim" 'send-keys C-right'  'resize-pane -R 1'

bind-key -T copy-mode-vi 'C-left' resize-pane -L 1
bind-key -T copy-mode-vi 'C-down' resize-pane -D 1
bind-key -T copy-mode-vi 'C-up' resize-pane -U 1
bind-key -T copy-mode-vi 'C-right' resize-pane -R 1

# Navigation key-bindings
bind-key -n 'C-h' if-shell "$is_vim" 'send-keys C-h' { if -F '#{pane_at_left}' '' 'select-pane -L' }
bind-key -n 'C-j' if-shell "$is_vim" 'send-keys C-j' { if -F '#{pane_at_bottom}' '' 'select-pane -D' }
bind-key -n 'C-k' if-shell "$is_vim" 'send-keys C-k' { if -F '#{pane_at_top}' '' 'select-pane -U' }
bind-key -n 'C-l' if-shell "$is_vim" 'send-keys C-l' { if -F '#{pane_at_right}' '' 'select-pane -R' }

bind-key -T copy-mode-vi 'C-h' if -F '#{pane_at_left}' '' 'select-pane -L'
bind-key -T copy-mode-vi 'C-j' if -F '#{pane_at_bottom}' '' 'select-pane -D'
bind-key -T copy-mode-vi 'C-k' if -F '#{pane_at_top}' '' 'select-pane -U'
bind-key -T copy-mode-vi 'C-l' if -F '#{pane_at_right}' '' 'select-pane -R'

# Switch windows
bind-key -n 'M-p' previous-window
bind-key -n 'M-n' next-window
bind-key -n 'M-P' swap-window -t -1\; select-window -t -1
bind-key -n 'M-N' swap-window -t +1\; select-window -t +1

bind-key -n 'M-b' last-window
bind-key -n 'M-B' run-shell "sesh last"

set -g default-terminal "tmux-256color"
set -ag terminal-overrides ",*:RGB"
set -g status-keys vi
set -g mouse on
set -g base-index 1
setw -g pane-base-index 1
set -g renumber-windows on
set -g history-limit 50000
set -sg escape-time 0
set -g focus-events on
set -g set-clipboard on
set -g allow-passthrough on
set -g extended-keys on # Workaround with injecting terminal features bug with snacks.nvim picker in neovim, might be able to delete if fixed
setw -g aggressive-resize on
set -g detach-on-destroy off

# Render undercurls and double underlines
set -as terminal-overrides ',*:Smulx=\E[4::%p1%dm'
set -as terminal-overrides ',*:Setulc=\E[58::2::%p1%{65536}%/%d::%p1%{256}%/%{255}%&%d::%p1%{255}%&%d%;m'

set -g popup-style 'bg=default,fg=default'
set -g popup-border-style "fg=blue"
set -g popup-border-lines 'rounded'

set -g mode-style "fg=blue,bg=default"
set -g message-style "fg=blue,bg=default"
set -g message-command-style "fg=blue,bg=default"
set -g pane-border-style "fg=#312e55"
set -g pane-active-border-style "fg=yellow"
set-option -g pane-border-lines single
set-option -g pane-border-indicators both
set-option -g pane-border-status off

# Status bar
set -g status-position top
set -g status-interval 5
set -g status-left-length 30
set -g status-right-length 50
set -g window-status-separator ""

# Theme
set -g status-style "bg=default,fg=default"
set -g status-left "#[fg=black,bg=blue,bold] #S #[bg=default] "
set -g status-right "#[fg=blue]#{?client_prefix,PREFIX ,}#[fg=brightblack]#h "
set -g window-status-format "#[fg=brightblack] #I:#W "
set -g window-status-current-format "#[fg=blue,bold] #I:#W "
set -g pane-border-style "fg=brightblack"
set -g pane-active-border-style "fg=blue"
set -g message-style "bg=default,fg=blue"
set -g message-command-style "bg=default,fg=blue"
set -g mode-style "bg=blue,fg=black"
setw -g clock-mode-colour blue

# Plugin manager
{{- if eq .machine.type "work" }}
set-environment -g TMUX_PLUGIN_MANAGER_PATH '/home/jadon.brutcher/.config/tmux/plugins/'
{{- else}}
set-environment -g TMUX_PLUGIN_MANAGER_PATH '/home/jadon/.config/tmux/plugins/'
{{- end}}

# List of plugins
set -g @plugin 'tmux-plugins/tpm'
set -g @plugin 'trevin-j/tmux-resurrect-nvim'
set -g @plugin 'tmux-plugins/tmux-continuum'

# Sesh
bind-key -n 'M-s' run-shell "sesh connect \"$(
  sesh list -t -c -d --icons | fzf-tmux -p 35%,55% \
    --no-sort --ansi --border-label ' Sessions ' --prompt '⚡  ' \
    --header 'CTRL+a all | CTRL+t tmux | CTRL+f find | CTRL+d kill ' \
    --border rounded \
    --color=border:'#4541e1' \
    --bind 'alt-s:abort' \
    --bind 'tab:down,btab:up' \
    --bind 'ctrl-a:change-prompt(⚡  )+reload(sesh list -d --icons)' \
    --bind 'ctrl-t:change-prompt(⚡  )+reload(sesh list -t --icons)' \
    --bind 'ctrl-f:change-prompt(🔎  )+reload(fd -H -d 2 -t d -E .Trash . ~)' \
    --bind 'ctrl-d:execute(tmux kill-session -t {2..})+change-prompt(⚡  )+reload(sesh list --icons)' \
)\""

# Sessions
set -g @resurrect-save 'S'
set -g @resurrect-restore 'R'
set -g @resurrect-capture-pane-contents 'on'
set -g @continuum-restore 'on'
# set -g @continuum-boot 'on'
set -g @continuum-save-interval '5'

# Initialize TMUX plugin manager (keep this line at the very bottom of tmux.conf)
run -b "${TMUX_PLUGIN_MANAGER_PATH}tpm/tpm"
