#!/bin/bash

show_learn_menu() {
  case $(menu "Learn" "  Keybindings\n  Omarchy\n  Hyprland\n󰣇  Arch\n󰒲  LazyVim\n  Neovim\n󱆃  Bash\n  Motions\n󰰕  Opencode\n  Wikipedia") in
  *Keybindings*) omarchy-menu-keybindings ;;
  *Omarchy*) omarchy-launch-webapp "https://learn.omacom.io/2/the-omarchy-manual" ;;
  *Hyprland*) omarchy-launch-webapp "https://wiki.hypr.land/" ;;
  *Arch*) omarchy-launch-webapp "https://wiki.archlinux.org/title/Main_page" ;;
  *Bash*) omarchy-launch-webapp "https://devhints.io/bash" ;;
  *LazyVim*) omarchy-launch-webapp "https://www.lazyvim.org/keymaps" ;;
  *Neovim*) omarchy-launch-webapp "https://neovim.io/" ;;
  *Motions*) omarchy-launch-webapp "https://quickref.me/vim.html" ;;
  *Opencode*) omarchy-launch-webapp "https://opencode.ai/docs" ;;
  *Wikipedia*) omarchy-launch-webapp "https://en.wikipedia.org/wiki/Main_Page" ;;
  *) show_main_menu ;;
  esac
}
{{- if eq .machine.type "work" }}

show_system_menu() {
  local options="󱄄  Screensaver\n  Lock"
  ! omarchy-toggle-enabled suspend-off && options="$options\n󰒲  Suspend"
  omarchy-hibernation-available && options="$options\n󰤁  Hibernate"
  options="$options\n󰍃  Logout\n󰜉  Restart\n󰐥  Shutdown"

  case $(menu "System" "$options") in
  *Screensaver*) omarchy-launch-screensaver force ;;
  *Lock*) OMARCHY_LOCK_ONLY=true omarchy-system-lock ;;
  *Suspend*) systemctl suspend ;;
  *Hibernate*) systemctl hibernate ;;
  *Logout*) omarchy-system-logout ;;
  *Restart*) omarchy-system-reboot ;;
  *Shutdown*) omarchy-system-shutdown ;;
  *) back_to show_main_menu ;;
  esac
}
{{- end}}
