[[session]]
name = "Sesh"
path = "~/.config/sesh"
startup_command = "nvim sesh.toml"

[[session]]
name = "Tmux"
path = "~/.config/tmux"
startup_command = "nvim tmux.conf"

[[session]]
name = "Downloads"
path = "~/Downloads"
startup_command = "yazi"

[[session]]
name = "Home"
path = "~"

[[session]]
name = "C (source)"
path = "~/c"

[[session]]
name = "Dots"
path = "~/.local/share/chezmoi"

[[session]]
name = "Neovim"
path = "~/.config/nvim"
startup_command = "nvim"

[[session]]
name = "Configs"
path = "~/.config"
startup_command = "nvim"

[[session]]
name = "Hyprland"
path = "~/.config/hypr"
startup_command = "nvim"

[[session]]
name = "Omarchy"
path = "~/.local/share/omarchy/"
startup_command = "nvim"

[[session]]
name = "Chezmoi"
path = "~/.config/chezmoi"
startup_command = "nvim"

{{- if eq .machine.type "work" }}
[[session]]
name = "Yocto"
path = "~/AF2-NXP/dms-yocto/"

[[session]]
name = "Fusion"
path = "~/AF2-NXP/Fusion_2s_i.MX/"
startup_command = "nvim"

[[session]]
name = "Update Server"
path = "~/AF2-NXP/af2_update_manager/"
{{- end}}
