[[session]]
name = "Downloads"
path = "~/Downloads"
startup_command = "yazi"

[[session]]
name = "home"
path = "~"

[[session]]
name = "arrowlake"
path = "~/c/arrowlake.nvim"
startup_command = "nvim"

[[session]]
name = "c (source)"
path = "~/c"

[[session]]
name = "dots"
path = "~/.local/share/chezmoi"

[[session]]
name = "neovim"
path = "~/.config/nvim"
startup_command = "nvim"

[[session]]
name = "configs"
path = "~/.config"

[[session]]
name = "hyprland"
path = "~/.config/hypr"
startup_command = "nvim"

[[session]]
name = "omarchy"
path = "~/.local/share/omarchy/"
startup_command = "tmux new-window -d 'cd ~/.config/omarchy/ && nvim' && nvim"

[[session]]
name = "chezmoi"
path = "~/.config/chezmoi"
startup_command = "nvim"

{{- if eq .machine.type "work" }}
[[session]]
name = "bitbake"
path = "~/AF2-NXP/dms-yocto/"

[[session]]
name = "fusion"
path = "~/AF2-NXP/Fusion_2s_i.MX/"
startup_command = "nvim"

[[session]]
name = "update-server"
path = "~/AF2-NXP/af2_update_manager/"
{{- else}}
[[session]]
name = "llama-toolboxes"
path = "~/c/amd-strix-halo-toolboxes/"

[[session]]
name = "vllm-toolboxes"
path = "~/c/amd-strix-halo-vllm-toolboxes/"

[[session]]
name = "comfyui-toolboxes"
path = "~/c/amd-strix-halo-image-video-toolboxes/"
{{- end}}
