@define-color selected-text #FFC066;
@define-color text #c8d3f5;
@define-color base #0a0a1e;
@define-color border #3F3BF5;
@define-color foreground #c8d3f5;
@define-color background #0a0a1e;

window .search-container,
window .search {
  background: alpha(@base, 0.6);
  box-shadow: 0 4px 18px rgba(0, 0, 0, 0.4);
  color: @foreground;
  border: 1px solid alpha(@border, 0.8);
  border-radius: 10px;
  padding: 3px 16px;
  margin-top: 1px;
  font-size: 10px;
  font-weight: 400;
}

.box-wrapper {
  background: @base;
  border: 2px solid @border;
  border-radius: 28px;
}

child:selected {
  border-radius: 10px;
  background-color: alpha(@selected-box, 0.3);
  box-shadow: 0 4px 18px rgba(0, 0, 0, 0.12);
  transition: background-color 0.22s cubic-bezier(0.22, 1, 0.36, 1);
}

child:selected .item-box {
  transition: transform 0.14s cubic-bezier(0.22, 1, 0.36, 1);
  transform: translateX(6px);
}

child:selected .item-box * {
  color: @text;
}
